/*Border-box reset*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Chat styling*/
.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userSettings{
    margin-bottom: 20px;
}

.chat {
    /* max-width: 600px;
    min-width: 600px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.chat #chatOutput {
    overflow-y: auto;
    height: 280px;
    width: 100%;
    border: 1px solid #e0e2e4;
}


.chat #chatOutput div{
    width: fit-content;
    width: -moz-fit-content;
    max-width: 80%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    word-wrap: break-word;
}

.chat #chatInput {
    width: 75%;
    height: fit-content;
    padding: 10px;
    resize: none;
    margin-top: 10px;
    font-size: unset;
    border: solid lightgrey 1px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

.chat #chatSend {
    width: 25%;
    background-color: #abbc41;
    font-size: 16px;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
    word-wrap: break-word;
}

.chat #chatSend:hover{
    cursor: pointer;
    box-shadow: inset 2px 2px 3px 0 grey;
    transition: box-shadow 200ms ease;
}

.chat .me {
    /* text-align: right; */
    margin-left: auto;
    background-color: #c7d85c;
    margin-right: 10px;
}

.chat .notMe {
    background: #8eb6d6;
    margin-left: 10px;
}

.chat .chat-user {
    color: lightslategray;
    font-weight: bold;
}

.msgText{
    margin-bottom: 2px;
}

.msgTime{
    font-size: 12px;
    color: darkolivegreen;
}

.chat .me .msgTime{
    text-align: right;
}

#notify-message{
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    background-color: #abbc41;
    opacity: 0.8;
    color: white;
    padding-bottom: 30px;
    width: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.text-message-notification{
    text-align: center;
}

.del-message-notification{
    margin-left: 95%;
    color: lightgrey;
    text-shadow: white 1px 1px;
}

.del-message-notification:hover{
    color: black;
}