.box#dsWrap{
    padding: 0px;
}

#dsWrap .msgLinks{
    text-decoration: none;    
    display: block;
    padding: 10px 0px;
    margin: 0px 10px; 
}

#dsWrap .fillDiv{
    width: 100%;
}

#dsWrap .dialogWrap{
    display: flex;
    overflow: hidden;
    align-items: center;    
    padding: 5px;
    /* border-bottom: solid 1px #e0e7ef;  */
    color: black;
}

#dsWrap .dialogWrap:hover{
    background: #e0e7ef;
    transition: background-color 200ms ease
}

#dsWrap .msgLinks + .msgLinks{
    border-top: solid 1px #e0e7ef;
}

#dsWrap .post-date{
    margin-left: auto;
}

#dsWrap .dialogInfo{
    display: flex;
    align-items: baseline;
    width: 100%;
}

#dsWrap .dialogText{
    margin-left: 10px; 
}

#dsWrap .msgCount{
    padding: 0px 10px;
    color: #7597b3;
}

#dsWrap .markYou{
    color: #abbc41;    
}