#bottom-ava .image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 100px;
  height: 100px;
}

.username i{
	cursor: pointer;
}

#bottom-ava .middle {
  transition: .5s ease;
  transform: translate(-125%, -215%);
  -ms-transform: translate(-125%, -215%)
}

#bottom-ava .image:hover, #loadText:hover {
  opacity: 0.3;
  cursor: pointer;
}

#bottom-ava .image:hover+.middle #loadText {
  opacity: 1;
  cursor: pointer;
  transition: .5s ease;
}

#bottom-ava .text {
  background-color: #7597b3;
  color: white;
  font-size: 14px;
  padding: 2px 5px;
  word-break: normal;
}

input[type="text"] {
    width: calc(100% - 30px);
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

input[type="text"] + span {
    float: right;
}

#btLoad{
  display: none;
}

#loadText{
  opacity: 0;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  margin-left: -100px;
  margin-top: -60px;
  position: fixed;
  width: 100px;
  padding: 2px;
}

#loadText:hover{
	opacity: 1;
	cursor: pointer;
}

@media screen and (max-width:500px) and (min-width:100px){
  #loadText{
	margin-left: -50px;
  }
}