*{
    margin: 50px 0 0 0;
    padding: 0;
}

html,
body {
    background-color: #e0e7ef;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    font-size: 80px;
    text-align: center;
}

a:link{
    font-size: 20px;
    color: black;
}

a:visited{
    font-size: 20px;
    color: black;
}