*{
    margin: 0;
    padding: 0;
}

html,
body{
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: #e0e7ef;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

main{
    margin: auto;
}

header{
    text-align: center;
    font-size: 46px;
    margin-bottom: 50px;
}

.logowrap{
    background-color: #7597b3;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 50px;
}

#logoimg{
    width: 150px;
    margin: 25px auto;
    display: block;
}

.myform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 500px;
    border-radius: 3px;
}

p{
    width: 460px;
    padding-bottom: 20px;    
    border-radius: 3px;
}

input{
    width: 450px;
    font-size: 20px;
    height: 40px;
    background-color: #e0e7ef;
    border-style: none;
    padding-left: 10px;
}

button{
    width: 460px;
    font-size: 20px;
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
    background-color: #abbc41;
    border-style: none; 
    cursor: pointer;
}

.reg{
    display: none;
}

#btReg{
    display: none;
}

.reginfo{
    padding-bottom: 20px;
}

.loginfo{
    padding-bottom: 20px;
    display: none;
}

u{
    color: #abbc41;
    cursor: pointer;
}

.headertext{
    font-size: 14px;
}

i{
    color: red;
}

#result{
    display: none;
    padding-left: 10px;
}


@media screen and (max-width:500px) and (min-width:100px){

    header{
        margin-bottom: 10px;
    }

    main{
        width: 90%;
    }

    .myform{
        width: 100%;
    }

    input{
        width: 100%;
    }

    p{
        width: 80%;
        overflow: hidden;
    }

    button{
        width: 80%;
    }

    .logowrap{
        width: 150px;
        height: 150px;
        margin: 10px;
    }
    #logoimg{
        width: 120px;
    }
}