*{
    margin: 0;
    padding: 0;
}

html,
body {
    /* background-image: url("../back.jpg");
    background-repeat: no-repeat;
    background-size: 100%; */
    background-color: #e0e7ef;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

body::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

header{
    background-color: #7597b3;
    /* min-height: 80px;
    height: 80px; */
    width: 100%;
    display: block;
    overflow: hidden;
    min-height: 40px;
    height: 40px;
}

.header-logo {
    font-size: 19pt;
    margin-left: 10px;
}

#leftheader{
    display: flex;
    width: 90%;
    float: left;
    height: 100%;
    align-items: center;
}

#logo{
    max-height: 100%;
    margin-left: 6px;
}

.username{
    font-size: 20pt;
    font-weight: bold;
    margin-left: 30px;
    text-shadow: 1px 0px 0px #fff,
    0px 1px 0px #fff,
    0px -1px 0px #fff, 
    -1px 0px 0px #fff;
}

.status{
    color: grey;
    margin-left: 10px;
    padding-top: 4px;
    text-shadow: 1px 0px 0px #fff,
    0px 1px 0px #fff,
    0px -1px 0px #fff, 
    -1px 0px 0px #fff;
}

.exit{
    display: flex;
    width: 10%;
    flex-flow: row-reverse;
    align-items: center;
    float: right;
    height: 100%;
}

.exitbutton{
    color: #e0e7ef;
    padding: 5px;
    margin-right: 20px;
    height: fit-content;
    border-radius: 3px;
}

.exitbutton:hover{
    color: black;
    background-color: #abbc41;
    cursor: pointer;
}

.test{
    display: flex;
    flex-direction: column;
    /* opacity: 0.5; */
    height: 100%;
}

#allcontent{
    display: flex;
    flex: 1 1 auto;
    /* height: 100%; */
}

aside{
    min-width: 170px;
    max-width: 170px;
    background-color: white;
    overflow: hidden;
}

.menu-list{
    padding-top: 10px; 
}

.item{
    list-style: none;
    color: grey;
    /*height: 45px;
    width: 45px;*/
    margin: 10px auto;
    padding-left: 10px;
    /*text-align: center;*/
    line-height: 45px;
    /*font-size: 17pt;*/
    border: 2px solid white;
}

.item a{
    display: block;
    text-decoration: none;
    color: grey;    
}

.item a img{
    vertical-align: text-bottom;
}

.item:hover{
    color: #abbc41;
    cursor: pointer;
    border: 2px solid #abbc41;
    border-radius: 5px;
    box-shadow: inset 2px 2px 3px 0 grey;
    transition: box-shadow 200ms ease, color 200ms ease;
}

.item:hover a{
    color: #abbc41;
    transition: color 200ms ease;
}

.main-wrap{
    width: 100%;
    overflow: overlay;
}

main{
    width: 80%; 
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.box{
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: white;
    /* word-break: break-word; */
}

.box:hover .delpost{
    display: inline-block!important;
}

#avatar-block{
    margin-top: 20px;
    height: 160px;
    min-height: 160px;
    overflow: hidden;
}

#avatar-block img{
    width: 100px;
    height: 100px;
    border: 4px solid white;
    border-radius: 50px;
    margin-left: 50px;
}

#top-ava{
    width: 100%;
    background-image: url(../images/avatar_back.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80%;
}

#bottom-ava{
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.allboxwrap{
    display: flex;
    flex-wrap: wrap;
}

#leftboxwrap{
    /* flex: 0 20 370px; */
    flex: 1 1 200px;
}

#midboxwrap{
    flex: 1 1 200px;
}

#rightboxwrap{
    flex: 1 1 200px;
}

.name{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 10px; 
    border-bottom: 1px solid lightgrey;
    font-weight: 700;
}

.post-header{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.user-ava{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
}

.user-ava img{
    width: 40px;
    height: 40px;
}

.post-username{
    padding-left: 10px;
    font-weight: 700;
}

.post-date{
    padding-left: 10px;
    font-size: 10pt;
    color: grey;
}

.post-text{
    padding-left: 10px;
    word-break: break-word;
}

.post-text p{
    margin: 10px 0;
}

.post-stats{
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border-top: 1px solid lightgrey;
}

textarea {
    overflow-x: hidden;
}

.modal .center {
    text-align: center !important;
}

#inputposttext{
    width: -webkit-fill-available;
    width: -moz-available;
    border: solid lightgrey 1px;
    padding-left: 5px;
    resize: none; 
    font-size: 14px;   
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;    
}

.postbutton{
    display: inline-block;
    background-color: #abbc41;
    padding: 5px;
    margin-top: 10px;
    width: 90px;
    text-align: center;
    border: 1px solid #abbc41;
    border-radius: 3px;
}

.postbutton:hover{
    color: black;
    background-color: #abbc41;
    border: 1px solid black;
    cursor: pointer;
}

.delpost{
    display: none!important;
    margin-left: auto;
    color: lightgrey;
    text-shadow: white 1px 1px;
}

.delpost:hover{
    color: black;
}

.achivments{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5px;
}

.achivitem{
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #e0e7ef;
    margin: 10px;
}


.achivments img{
    width: 80px;
    border-radius: 15px;
}

progress{
    width: 80px;
    color: #abbc41;   
    -webkit-appearance: none;
}

progress::-moz-progress-bar { background: #abbc41; }

progress::-webkit-progress-value { background: #abbc41; }

progress::-webkit-progress-bar { background: #EEF0DD; }


#trophy-logo{
    color: gold;
}

#about-logo{
    color: #abbc41;
}

.friendbox{
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: white;
    width: 200px;
    height: 200px;
}

.upfriend{
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.upfriend img{
    height: 100%;
}

.botfriend {
    width: 200px;
    height: 150px;
    text-align: center;
    margin-top: -50px;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.btn-container .btn-holder {
    margin-top: 10px;
    justify-content: flex-end;
    display: flex;
}

.botfriend img{
    width: 70px;
    border-radius: 40px;
    border: 4px solid white;
    align-self: center;
}

.friendname{
    font-weight: 700;
    font-size: 20px;
}

.friendabout{
    font-size: 14px;
    color: gray;
}

#delfriend{
    display: none;
    margin-top: -100px;
    margin-left: 180px;
    position: fixed;
    color: #7597b3;
    text-shadow: white 1px 1px;
}

.friendbox:hover #delfriend{
    display: block;
}


#delfriend:hover{
    color: red;
    cursor: pointer;
}

.frientchat {
    /* position: fixed; */
    width: 100%;
}

.text-link {
    color: black;
    text-decoration: none;
}

.requests {
    transition: .5s ease;
    width: 100%;
}

.element_hide {
    display: none !important;
}

.friendswrap {
    margin: 10px;
}

a.no-link {
    text-decoration: none;
    color: initial;
}

.friendname a {
    color: black;
    text-decoration: none;
}

.user-button {
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: #abbc41;
    padding: 5px;    
    text-align: center;
    border: 1px solid #abbc41;
    border-radius: 3px;
}

.user-button.pressed {
    box-shadow: inset 1px 1px 2px #616b1e;
    transition: box-shadow 200ms ease, color 200ms ease;
}

.user-button:hover {
    color: black;
    background-color: #abbc41;
    border: 1px solid black;
    cursor: pointer;
}

#actions-block:empty {
    display: none;
}

.friend_preview {
    margin: 0px !important;
    box-shadow: none !important;
}

.friend_preview + .friend_preview:before {
    content : "";
    width   : 90%;
    margin: auto;
    border-bottom:1px solid lightgray;
    box-sizing: unset;
}

.friends_more::before {
    content : "";
    width   : 100%;
    margin: auto;
    border-bottom:1px solid lightgray;
    box-sizing: unset;
}

.friends_more {
    margin: 10px;
}

@media screen and (max-width:500px) and (min-width:100px){
header{
    min-height: 60px;
}

main{
    margin: 0;
    margin-right: 15px;
    width: unset;
}

.item span{
    display: none;
}

aside{
    max-width: 45px;
    min-width: 45px;
}

#avatar-block{
    overflow: hidden;    
}

#top-ava{
    background-size: initial;
    height: 50%;    
}

#bottom-ava{
    flex-wrap: wrap;
    margin-top: -70px;
    height: unset;
    flex-direction: column;
    align-items: center;
}

#bottom-ava img, .username, .status{
    margin-left: 0;
}
}

.notification{
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    background-color: #abbc41;
    opacity: 0.8;
    color: white;
    padding-bottom: 30px;
    width: 150px;
}

.notificationtext{
    text-align: center;
}

.notificationtext a{
    text-align: center;
    color: white;
}

#notificationList{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:99;
}

.delnotification{
    margin-left: 90%;
    color: lightgrey;
    text-shadow: white 1px 1px;
}

.delnotification:hover{
    color: black;
}

input[type="text"] {
    width: calc(100% - 30px);
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}