<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ 'style404.css' | static('css') }}">
    <link rel="shortcut icon" href="{{ 'pic/siteico.png' | static('img') }}" type="image/png">
    <title>404 | VKochalke</title>
</head>

<body>
    <p>УПС...</p>
    <p>ты где-то не там свернул</p>
    <p>404 error</p>
    <a href="/users/me">Вернуться на мою страницу</a>
</body>

</html>