{% if user.isActive %}
    <a href="/settings" id="btSettings" class="user-button">
        Редактировать профиль
    </a>
{% else %}
    {% if user.isRequestingFriend %}
        Пользователь хочет добавить Вас в друзья: <br>
        <div class="ui buttons">
            <div class="ui basic green button accept_request">Принять</div>
            <div class="ui basic red button decline_request">Отклонить</div>
        </div>
    {% elseif user.isFriendToActive %}
        <div>
            <a href="chat" class="ui button">Перейти к диалогу</a>
        </div>
    {% elseif user.isRequestedFriend %}
        <div>
            <div class="ui basic red button reset_request">Отменить запрос</div>
        </div>
    {% else %}
        <div>
            <div class="ui basic green button make_request">Добавить в друзья</div>
        </div>
    {% endif %}
{% endif %}