<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/dist/semantic-ui/semantic.min.css">
        <link rel="stylesheet" href="{{ 'style.css' | static('css') }}">
        <link rel="stylesheet" href="{{ 'font-awesome.min.css' | static('css') }}">
        <link rel="shortcut icon" href="{{ 'pic/siteico.png' | static('img') }}" type="image/png">
        <script src="{{ 'jquery.js' | static('js') }}"></script>
        <script src="{{ 'main.js' | static('js') }}"></script>
        <script src="{{ 'notify.js' | static('js') }}"></script>
        <script src="/dist/semantic-ui/semantic.min.js"></script>
        <title>{% block title %}{% endblock %} | VKochalke</title>
    {% endblock %}
</head>

<body>
    <div id="notificationList">
        <div id="nodeInList"></div>
    </div>
    <div class="test">   
        <header>
            {{ include('main_header.twig') }}
        </header>
        <div id="allcontent">
            <aside>
                {{ include('side_menu.twig') }}
            </aside>
            <div class="main-wrap">
                <main>
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
    </div>
    <div class="ui basic tiny modal">
        <div class="ui icon header">
            <i class="remove circle outline icon"></i>
            Удаление из друзей
        </div>
        <div class="content ui center aligned container">
            <p>Вы уверены, что хотите удалить друга? :(</p>
        </div>
        <div class="actions center">
            <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Нет
            </div>
            <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Да
            </div>
        </div>
    </div>
</body>

</html>
