{% extends "base.twig" %}

{% block title %}
    {% if user.isActive %}
        Диалог с собой
    {% elseif user %}
        {{ user.name }}
    {% else %}
        User 404
    {% endif %}
{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ 'chat.css' | static('css') }}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    <div class="box" id="avatar-block">
        <div id="top-ava"></div>
        <div id="bottom-ava">
            <img id="ava" src="{{ user.userData['ava'] | static('img') }}" alt="UserName">
            <div class="username">
                {{ user.name }}
            </div>
        </div>
    </div>

    <div class="box">
        <div class="chat-container">
            <div class="chat">
                <div id="chatOutput"></div>
                <textarea id="chatInput" placeholder="Текст сообщения..." maxlength="128"></textarea>
                <button id="chatSend">Отправить</button>
            </div>
        </div>
    </div>
    <div id="notify-message-container">
    </div>

    <script src="{{ 'chat.js' | static('js') }}"></script>
{% endblock %}
