<a class="msgLinks" href="/users/{{dialog['login']}}/chat">
    <div class="dialogWrap">
        <div class='user-ava'>
            <img src="{{ dialog['ava'] | static('img') }}" alt=''>           
        </div>
        <div class="fillDiv">
            <div class="post-username">{{dialog['firstName']}} {{dialog['lastName']}}</div>
            <div class="msgCount">{% if dialog['unreaded'] == true %}Непрочитанных сообщений: {{dialog['unreaded']}}{% else %}Непрочитанных сообщений нет{% endif %}</div>
            <div class= "dialogInfo">
                <span class="dialogText">{% if dialog['id'] == dialog['idKochTo'] %} <span class="markYou">Вы:</span> {% endif %}
                {{dialog['text'][0:20] }}{% if dialog['text']|length > 20 %}... {% endif %}</span>
                <span class="post-date">{{dialog['date'] | date('H:i d.m.y')}} </span>
            </div>
         </div>
    </div>
</a>