<div class="ui fluid card friend_preview">
    <div class="content">
        <img class="left floated mini circular ui image" src="{{ friend.userData['ava'] | static('img') }}">
        <div class="header">
            <a class="text-link" href='/users/{{ friend.login }}/'>
                {{ friend.name }}
            </a>
        </div>
        <div class="meta">
            {{ friend.userData['about'] }}
        </div>
    </div>
</div>