{% extends "base.twig" %}

{% block title %}
    {% if user.isActive %}
        Мои друзья
    {% elseif user %}
        {{ user.name }} | Друзья
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box" id="avatar-block">
        <div id="top-ava"></div>
        <div id="bottom-ava">
            <img id="ava" src="{{  user.userData['ava'] | static('img') }}" alt="UserName">
            {% if user.isActive %}
                <div class="username">Мои друзья</div>
            {% else %}
                <div class="username">{{ user.name }} | Друзья</div>
            {% endif%}
        </div>
    </div>

    <div class="box" id="actions-block">{% if user.hasFriendRequests %}
            {% set requests = user.friendRequests %}
            <div id="new-requests" class="user-button">
                Входящие запросы: {{ requests | length }}
            </div>
        {% endif %}{% if user.hasOutFriendRequests %}
            {% set outRequests = user.outFriendRequests %}
            <div id="out-requests" class="user-button">
                Исходящие запросы: {{ outRequests | length }}
            </div>
        {% endif %}</div>
    
    <div class="allboxwrap friendswrap">
        <div id="new-requests-block" class="element_hide requests">
            {% for friend in requests %}
                {{ include('friend_tile.twig') }}
            {% endfor %}
        </div>
        <div id="out-requests-block" class="element_hide requests">
            {% for friend in outRequests %}
                {{ include('friend_tile.twig') }}
            {% endfor %}
        </div>
        <div class="ui cards">
            {% for friend in user.friends %}
                {{ include('friend_tile.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
