<div class="ui card friend-tile" data-id={{ friend.id }}>
    <div class="content">
        <img class="right floated tiny circular ui image" src="{{ friend.userData['ava'] | static('img') }}">
        <div class="header">
            <a class="text-link" href='/users/{{ friend.login }}/'>
                {{ friend.name }}
            </a>
        </div>
        <div class="meta">
            {{ friend.userData['about'] }}
        </div>
        {% if friend.isRequestingFriend and (not user or not user.isActive) %}
            <div class="description">
                Этот пользователь хочет добавить Вас в друзья
            </div>
        {% endif %}
    </div>
    <div class="extra content">
        <div>
            {% if not friend.isActive %}
                {% if friend.isRequestingFriend %}
                    <div class="ui two buttons">
                        <div class="ui basic green button accept_request">Принять</div>
                        <div class="ui basic red button decline_request">Отклонить</div>
                    </div>
                {% elseif friend.isFriendToActive %}
                    <div class="ui fluid basic buttons">
                        <a href='/users/{{ friend.login }}/chat' class="ui basic button" >Перейти в диалог</a>
                        <button class="ui basic red button remove_friend">Удалить</button>
                    </div>
                {% elseif friend.isRequestedFriend %}
                    <div>
                        <div class="ui basic red fluid button reset_request">Отменить запрос</div>
                    </div>
                {% else %}
                    <div>
                        <div class="ui basic green fluid button make_request">Добавить в друзья</div>
                    </div>
                {% endif %}
            {% else %}
                <a href='/users/me/'>
                    <div class="ui fluid button">Вернуться в профиль</div>
                </a>   
            {% endif %}
        </div>
    </div>
</div>