<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ 'style_reg.css' | static('css') }}">    
    <link rel="stylesheet" href="{{ 'font-awesome.min.css' | static('css') }}">
    <link rel="shortcut icon" href="{{ 'pic/siteico.png' | static('img') }}" type="image/png">    
    <script src="{{ 'jquery.js' | static('js') }}"></script>    
    <script src="{{ 'loginscript.js' | static('js') }}"></script>
    <title>{{ title }} | Vkochalke</title>
</head>

<body>
    <main>
        <header>
            VKOCHALKE
            <div class="headertext">Сделано с
                <i class="fa fa-heart" aria-hidden="true"></i> для Кочей</div>
        </header>
        <form action="/php/ajax.php" id="loginForm" class="myform" method="post">
            <div class="logowrap">
                <img src="{{ 'pic/logo.png' | static('img') }}" alt="logo" id="logoimg">
            </div>
            <p id="result">
                Неверный логин/пароль
            </p>
            <p>
                <input type="text" name="login" id="login" placeholder="Логин" maxlength = "20">
            </p>
            <p>
                <input type="password" name="pass" id="pass" placeholder="Пароль" maxlength = "20">
            </p>
            <p class="reg">
                <input type="text" name="name" id="name" placeholder="Имя" maxlength = "50">
            </p>
            <p class="reg">
                <input type="text" name="fam" id="fam" placeholder="Фамилия" maxlength = "50">
            </p>
            <button id="btSub"><span id="btLogin">Войти</span><span id="btReg">Зарегистрироваться</span></button>
            <div class="reginfo">
                Еще дрищ?
                <span id="a_create"><u>Создай учетную запись</u></span>
            </div>
            <div class="loginfo">
                Уже прокачан? 
                <span id="a_login"><u>Войди</u></span>
            </div>
        </form>
    </main>
</body>

</html>