<div id="leftheader">
    {# <div> #}
        <img id="logo" src="{{ 'pic/logo.png' | static('img') }}" alt="VK Logo">
        {# <div class="header-logo">VKOCHALKE</div> #}
    {# </div> #}
</div>
<div class="exit">
    <div class="exitbutton">Выйти</div>
</div>
