{% extends "base.twig" %}

{% block title %}
    Мои сообщения
{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ 'dialogs.css' | static('css') }}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    <div class="box" id="avatar-block">
        <div id="top-ava"></div>
        <div id="bottom-ava">
            <img id="ava" src="{{ user.userData['ava'] | static('img') }}" alt="UserName">
            <div class="username">
                Мои сообщения
            </div>
        </div>
    </div>

    <div class="box" id="dsWrap">
        {% for dialog in user.dialogs %}
            {{ include('dialog.twig') }}
        {% endfor %}
    </div>
{% endblock %}