{% extends "base.twig" %}

{% block title %}
    {% if user.isActive %}
        Мой профиль
    {% elseif user %}
        {{ user.name }}
    {% else %}
        User 404
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box" id="avatar-block">
        <div id="top-ava"></div>
        <div id="bottom-ava">
            <img id="ava" src="{{ user.userData['ava'] | static('img') }}" alt="UserName">
            <div class="username">
                {{ user.name }}
            </div>
            <div class="status">
                {% if user.isOnline %}
                    бездельничает
                {% else %}
                    качается
                {% endif %}
            </div>
        </div>
    </div>
    
    {# Важно, чтобы при отсутсвии контента в блоке не осталось даже пробелов! Иначе он вылезет #}
    <div class="box" id="actions-block" data-id="{{ user.id }}">
        {{ include("actions_block.twig") }}
    </div>

    <div class="allboxwrap">
        <div id="leftboxwrap">
            <div class="box">
                <div class="name">
                    <i id="about-logo" class="fa fa-users" aria-hidden="true"></i>
                    <a class="no-link" href="friends">Друзья</a>
                </div>
                    {% set friends = user.friends %}
                    {% for friend in friends[:2] %}
                        {{ include('friend_preview.twig') }}
                    {% endfor %}
                    {% if friends|length > 2 %}
                        <div class="friends_more"> Еще друзей: {{ friends|length - 2}} </div>
                    {% endif %}
            </div>
        </div>

        <div id="midboxwrap">
            {% if user.isActive or user.isFriendToActive %}
                <div id="inputPost" class="box">
                    <div class="name">Новая запись</div>
                    <textarea id="inputposttext" name="newPost" rows="3" placeholder="Ваше сообщение..." maxlength="155"></textarea>
                    <div class="postbutton">Запостить</div>
                    <span id="output"></span>
                </div>
            {% endif %}
            <div id="posts">
                {% set likes = active_user.likes %}
                {% for post in user.posts %}
                    {{ include('user_post.twig') }}
                {% endfor %}
            </div>
        </div>

        <div id="rightboxwrap">
            <div class="box">
                <div class="name">
                    <i id="about-logo" class="fa fa-user" aria-hidden="true"></i> Обо мне
                    {% if user.isActive %}
                        <i id="about-edit" class="fa fa-pencil" aria-hidden="true"></i>
                    {% endif %}
                </div>
                <div class="post-text">
                    <p>
                        <b>Мои характеристики</b>
                    </p>
                    {% for key, stat in user.stats %}
                        {% if user.userData[key] != "0" and user.userData[key] != "NULL"  %}
                            <p>{{ stat['name'] }}:
                                <span data-id="{{ key }}">{{ user.userData[key] }}</span>
                                {{stat['value']}}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {# <div class="box">
                <div class="name">
                    <i id="trophy-logo" class="fa fa-trophy" aria-hidden="true"></i>
                    Достижения
                </div>
                <div class="achivments">
                    <div class="achivitem">
                        <img src="{{ 'pic/achiv1.jpg' | static('img') }}">
                        <progress max="100" value="25">25%</progress>
                    </div>
                    <div class="achivitem">
                        <img src="{{ 'pic/achiv2.jpg' | static('img') }}">
                        <progress max="100" value="50">25%</progress>
                    </div>
                    <div class="achivitem">
                        <img src="{{ 'pic/achiv3.jpg' | static('img') }}">
                        <progress max="100" value="75">25%</progress>
                    </div>
                    <div class="achivitem">
                        <img src="{{ 'pic/achiv4.jpg' | static('img') }}">
                        <progress max="100" value="100">25%</progress>
                    </div>
                    <div class="achivitem">
                        <img src="{{ 'pic/achiv5.jpg' | static('img') }}">
                        <progress max="100" value="33">25%</progress>
                    </div>
                </div>
            </div> #}
        </div>
    </div>
{% endblock %}
