<ul class="menu-list">
    <li class="item" title="Мой профиль" id="btProfile">
        <a href="/users/me/">
            <img src="{{ 'pic/me.png' | static('img') }}" width="20" height="20">
            <span> Мой профиль</span>
        </a>
    </li>
    <!-- me  -->
    <li class="item" title="Друзья" id="btFriends">
        <a href="/users/me/friends">
            <img src="{{ 'pic/kochs.png' | static('img') }}" width="20" height="20">
            <span> Друзья</span>
        </a>
    </li>
    <!-- friends -->
    <li class="item" title="Сообщения">
        <a href="/users/me/messages">
            <img src="{{ 'pic/msg.png' | static('img') }}" width="20" height="20">
            <span> Сообщения</span>
        </a>
    </li>
    <!-- messages -->
    <li class="item" title="Кочи">
        <a href="/users/">
            <img src="{{ 'pic/trainer.png' | static('img') }}" width="20" height="20">
            <span> Кочи</span>
        </a>
    </li>
    {# <li class="item" title="Тренеры">
        <a href="#">
            <img src="{{ 'pic/trainer.png' | static('img') }}" width="20" height="20">
            <span> Тренеры</span>
        </a>
    </li>
    <!-- trainers -->
    <li class="item" title="Залы">
        <a href="#">
            <img src="{{ 'pic/gym.png' | static('img') }}" width="20" height="20">
            <span> Залы</span>
        </a>
    </li>
    <!-- gyms -->
    <li class="item" title="Достижения">
        <a href="#">
            <img src="{{ 'pic/ach.png' | static('img') }}" width="20" height="20">
            <span> Достижения</span>
        </a>
    </li>
    <!-- achievements -->
    <li class="item" title="Расписание">
        <a href="#">
            <img src="{{ 'pic/calend.png' | static('img') }}" width="20" height="20">
            <span> Расписание</span>
        </a>
    </li>
    <!-- timetable --> #}
</ul>