<div class='box' id='post' data-id="{{ post['id'] }}">
    <div class='post-header'>
        <div class='user-ava'>
            <img src="{{ post['ava'] | static('img') }}" alt=''>
        </div>
        <div>
            <div class='post-username'>{{ post['name'] }}</div>
            <div class='post-date'>{{ post['date']|date("h:i d.m.y") }}</div>
        </div>
        {% if user.isActive or post['idAutor'] == active_user.id %}
            <i class='delpost fa fa-times' data-id="{{ post['id'] }}" aria-hidden='true' title='Удалить'></i>
        {% endif %}
    </div>
    <div class='post-text'>{{ post['text'] | raw }}</div>
    <div class='post-stats'>
        {%if post['id'] in likes %}
            <i class='like fa fa-heart-o' data-id="{{ post['id'] }}" style="color:#FF0000" aria-hidden='true'> {{ post['likes'] }}</i>
        {%endif%}
        {%if post['id'] not in likes %}
            <i class='like fa fa-heart-o' data-id="{{ post['id'] }}" style="color:#000000" aria-hidden='true'> {{ post['likes'] }}</i>
        {%endif%}
    </div>
</div>
