{% extends "base.twig" %}

{% block title %}
    {% if user.isActive %}
        Мой профиль
    {% elseif user %}
        {{ user.name }}
    {% else %}
        User 404
    {% endif %}
{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ 'settings.css' | static('css') }}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    {% if user.isActive %}
        <div class="box" id="avatar-block">
            <div id="top-ava"></div>
            <div id="bottom-ava">
                <img id="ava" class="image" src="{{ user.userData['ava'] | static('img') }}" alt="UserName">
                <div class="middle">
                    <input type="file" id="btLoad" accept ="image/*" value="Загрузить" name="Загрузить"><span id="loadText"> Загрузить</span></input>
                </div>
                <div class="username">
                    Редактирование профиля
                    <i id="all-edit" class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="allboxwrap">
            <div id="leftboxwrap">
                <div class="box">
                    <div class="name">
                        <i id="about-logo" class="fa fa-user" aria-hidden="true"></i> Основная информация
                    </div>
                    <div class="post-text">
                        {% for key, stat in user.main_info %}
                            <p>{{ stat }}:
                                <span data-id="{{ key }}">{%if key == "birthday"%}{{ user.userData[key]|date("d.m.Y") }}{%else%}{{ user.userData[key] }}{%endif%}</span>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div id="midboxwrap">
                <div class="box">
                    <div class="name">
                        <i id="about-logo" class="fa fa-user" aria-hidden="true"></i> Мои характеристики
                    </div>
                    <div class="post-text">
                        {% for key, stat in user.base_stats %}
                            <p>{{ stat['name'] }}:
                                <span data-id="{{ key }}">{{ user.userData[key] }}</span>
                                <span>{{stat['value']}}</span>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div id="midboxwrap">
                <div class="box">
                    <div class="name">
                        <i id="about-logo" class="fa fa-user" aria-hidden="true"></i> Дополнительная информация
                    </div>
                    <div class="post-text">
                        {% for key, stat in user.other_stats %}
                            <p>{{ stat['name'] }}:
                                <span data-id="{{ key }}">{% if user.userData[key] != "NULL" %}{{ user.userData[key] }}{% endif %}</span>
                                <span>{{stat['value']}}</span>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div>
            <img src="{{ 'weknow.png' | static('img') }}">
        </div>
    {% endif %}
    <script src="{{ 'settings.js' | static('js') }}"></script>
{% endblock %}
