{% extends "base.twig" %}

{% block title %}
    Кочи
{% endblock %}

{% block content %}
    <div class="box" id="avatar-block">
        <div id="top-ava"></div>
        <div id="bottom-ava">
            {# <img id="ava" src="{{  user.userData['ava'] | static('img') }}" alt="UserName"> #}
            <div class="username">Все пользователи</div>
        </div>
    </div>
    
    <div class="allboxwrap friendswrap">
        <div class="ui cards">
            {% for friend in users %}
                {{ include('friend_tile.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
